.redemptionheader {
  font-family: "Open Sans";
  font-size: 24px;
  color: #2e2e2e;
  letter-spacing: 0.54px;
  text-align: center;
}

.text {
  font-family: "Open Sans";
  font-size: 13px;
  color: #6d6d6d;
  letter-spacing: 0.24px;
  text-align: center;
}

.paylahfail {
  animation: paylahfail 0.5s 1;
  animation-timing-function: ease-in-out;
}

@keyframes paylahfail {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
