.serialno {
  font-family: Helvetica;
  font-size: 16.2px;
  letter-spacing: -0.39px;
  text-align: center;
  background: rgba(62, 62, 62, 0.3);
  border-radius: 18.23px;
  display: inline-block;
  padding: 3px 10px;
  color: #fff !important;
}

.header {
  color: #ffffff;
  font-family: "Open Sans" !important;
  font-weight: 700;
  font-size: 2em !important;
  letter-spacing: 1.11px;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.text {
  font-family: "Roboto" !important;
  font-size: 1em !important;
  color: #ffffff;
  letter-spacing: 0.24px;
  text-align: center;
}

@keyframes apmove {
  0% {
    transform: translateY(0);
  }
  85% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes apshadow {
  0% {
    transform: scale(1);
  }

  85% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

@keyframes apstars {
  from {
    opacity: 0.3;
    transform: scale(1);
  }

  to {
    opacity: 1;
    transform: scale(1.02);
  }
}

@keyframes aparrow {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(7px);
  }
}

.bobbingUpDown {
  animation: apmove 0.8s infinite alternate;
  animation-timing-function: ease-in-out;
}

.bobbingBigSmall {
  animation: apshadow 0.8s infinite alternate-reverse;
  animation-timing-function: ease-in-out;
}

.bobbingStars1 {
  animation: apstars 0.6s infinite alternate;
}

.bobbingStars2 {
  animation: apstars 0.6s infinite alternate-reverse;
}

.bobbingArrow {
  animation: aparrow 0.2s infinite alternate;
  animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 468px) {
  .main-screen-size {
    height: 85vh;
  }
}
@media only screen and (min-width: 468px) {
  .main-screen-size {
    height: 100vh;
  }
}
