.header {
  font-family: OpenSans-Bold;
  font-size: 24px;
  color: #2e2e2e;
  letter-spacing: 0.54px;
  text-align: center;
}

.text {
  font-family: Roboto-Regular;
  font-size: 13px;
  color: #6d6d6d;
  letter-spacing: 0.24px;
  text-align: center;
}

.serialno {
  font-family: Helvetica;
  font-size: 16.2px;
  color: #ffffff;
  letter-spacing: -0.39px;
  text-align: center;

  opacity: 0.5;
  background: #3e3e3e;
  border-radius: 18.23px;
  display: inline-block;
  padding: 3px 10px;
}
