.redemptionheader {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 18px;
  color: #2e2e2e;
  letter-spacing: 0.54px;
  text-align: center;
}

.text {
  font-family: "Open Sans";
  font-size: 13px;
  color: #6d6d6d;
  letter-spacing: 0.24px;
  text-align: center;
}

.dbslink {
  font-family: "Open Sans";
  font-size: 13px;
  color: #fd3866;
  letter-spacing: 0.24px;
  text-align: center;
}

.paylahtick {
  animation: paylahtick 0.5s 1;
  animation-timing-function: ease-in-out;
}

@keyframes paylahtick {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
